cambium-service:
  default-value: Microservice Cambium
  cambium: Config Dev

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}

openapi:
  application:
    title: Cambium Service
    version: 1.0
    description: Microservice Cambium

resilience4j:
  bulkhead:
    instances:
      default:
        max-concurrent-calls: 10
  ratelimiter:
    instances:
      default:
        limit-for-period: 1  #Numero de requisicoes aceitas dentro de um determinado periodo
        limit-refresh-period: 1s  #Tamanho do periodo
  retry:
    instances:
      default:
        max-attempts: 5  #Maximo de tentativas de requisicoes para outro microservice.
        wait-duration: 2s  #Tempo de aguardo ate a proxima requisicao
        enable-exponential-backoff: true

server:
  port: ${PORT:0}

spring:
  application:
    name: cambium-service
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/bookstore_cambium?createDatabaseIfNotExist=true&useTimezone=true&serverTimezone=UTC
    username: ${SPRING_DATASOURCE_USER}
    password: ${SPRING_DATASOURCE_PASSWORD}
  jpa:
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
  flyway:
    url: jdbc:mysql://localhost:3306/bookstore_cambium?createDatabaseIfNotExist=true&useTimezone=true&serverTimezone=UTC
    user: ${SPRING_DATASOURCE_USER}
    password: ${SPRING_DATASOURCE_PASSWORD}
  sleuth:
    sampler:
      probability: 1.0 #Sera registrado 100% dos logs no Distributed Trancing. Em producao, deixar em 5% (0.05)
      #zipkin:
      #base-url: http://localhost:9411

springdoc:
  api-docs:
    path: cambium-service/v3/api-docs
  show-actuator: true